@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Barlow+Condensed:400");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
:root {
  /* Colors */
  --primary-1: #ee4266;
  --primary-2: #080357;
  --primary-3: #041b15;
  --soft-red: hsl(5, 85%, 63%);
  --soft-red-accent: #b34747;
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --light-gray: #f8fafc;

  /* Other Variables */
  --letter-spacing: 1px;
  --transition: all 0.5s ease-in-out;
  --shadow-1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  margin: 0;
  background: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}
button {
  cursor: pointer;
}

.btn {
  padding: 0.75rem 1.5rem;
  background-color: var(--soft-red-accent);
  border: none;
  border-radius: 3px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  transition: var(--transition);
}
.btn:hover {
  background-color: var(--soft-red);
}
.btn--secondary {
  background-color: transparent;
  color: var(--soft-red-accent);
  border: 1px solid var(--soft-red-accent);
}
.btn--secondary:hover {
  background: linear-gradient(
    to right,
    var(--soft-red-accent),
    var(--primary-2)
  );
  color: #fff;
  border: none;
}
.content--center {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  background: linear-gradient(
    to right,
    var(--soft-red-accent),
    var(--primary-2)
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  font-family: "Lora", serif;
  font-weight: 700;
}

.title {
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(
    to right,
    var(--soft-red-accent),
    var(--primary-2)
  );
  -webkit-background-clip: text;
  color: transparent;
}
/* 
Project CSS
=========== */

/* Navbar */

.nav {
  padding: 1.5rem 0;
}
.nav--center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: none;
}

.nav__toggle {
  background: transparent;
  border: none;
}
.nav__toggle svg {
  font-size: 1.5rem;
}

@media (min-width: 800px) {
  .nav__links {
    display: flex;
    gap: 1.5rem;
  }
  .nav__link {
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
  }
  .nav__toggle {
    display: none;
  }
}

/* Hero  */
.hero {
  min-height: 90vh;
  display: grid;
  place-items: center;
}
.hero--center {
  display: grid;
  gap: 1rem;
}
.hero__carousel {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 500px;
  /* border: 1px solid black; */
  /* transition: var(--transition); */
}
.carousel__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  /* transition: var(--transition); */
}
.carousel__buttons {
  position: absolute;
  /* border: 1px solid black; */
  display: flex;
  gap: 0.5rem;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000;
}
.carousel__btn {
  width: 15px;
  height: 15px;
  border: 1px solid var(--soft-red-accent);
  border-radius: 50%;
}
.carousel__btn--active {
  background: linear-gradient(
    to right,
    var(--soft-red-accent),
    var(--primary-2)
  );
  border: none;
}
.hero__title {
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-2);
}
.hero__desc {
  letter-spacing: var(--letter-spacing);
  color: var(--dark-grayish-blue);
}
/* .hero__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
} */
.hero__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.hero__link {
  display: inline-block;
  border: 1px solid var(--soft-red-accent);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.hero__link svg {
  font-size: 1.25rem;
  color: var(--soft-red-accent);
  transition: var(--transition);
}
.hero__link:hover {
  background: linear-gradient(
    to right,
    var(--soft-red-accent),
    var(--primary-2)
  );
  border: none;
}
.hero__link:hover svg {
  color: #fff;
}
@media (min-width: 800px) {
  .hero--center {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .hero__body {
    order: -1;
  }
}

/* Featured Products */
.featured--center {
  margin-top: 2rem;
}
.featured__grid {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.product {
  position: relative;
  padding: 1rem;
  background-color: var(--light-gray);
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  transition: var(--transition);
}
.product:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-2);
}
.product__header {
  height: 300px;
}
.product__img {
  height: 100%;
  /* border-radius: 5px; */
}
.product__body {
  padding: 1rem 0;
}
.product__title {
  text-align: center;
  letter-spacing: 2px;
}
.product__btn {
  display: inline-block;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  color: var(--soft-red-accent);
  transition: var(--transition);
}

.product:hover .product__btn {
  opacity: 1;
  visibility: visible;
}
.product:hover .product__img {
  opacity: 0.5;
}
.product__btn svg {
  font-size: 2rem;
}

/* Services */
.services {
  padding: 2rem 0;
}
.services__grid {
  margin-top: 2rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 1rem;
}
.service {
  background-color: #fff;
  box-shadow: var(--shadow-1);
  padding: 1rem;
  border-radius: 10px;
}
.service__img {
  display: none;
}
.service__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-2);
  border-radius: 50%;
  margin: 0 auto;
}
.service__icon svg {
  color: var(--primary-2);
  font-size: 1.25rem;
}
.service__title {
  margin-top: 1rem;
  /* text-align: center; */
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  display: inline-block;
  border-bottom: 2px solid var(--primary-2);
  padding-bottom: 2px;
}
.service__text {
  letter-spacing: var(--letter-spacing);
  color: var(--dark-grayish-blue);
}

@media (min-width: 800px) {
  .service__img {
    display: block;
  }
  /* .services {
    padding: 0;
  } */
  .services__grid {
    display: block;
  }
  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 2rem; */
    padding: 0;
    box-shadow: none;
  }
  .service__body {
    padding: 1rem;
  }
  .service__icon {
    display: none;
  }
  .service__title {
    border: none;
    font-family: "Lora", serif;
    font-size: 2rem;
    color: var(--primary-2);
  }
}

/* Footer  */
.footer * {
  margin: 0;
}
.footer {
  text-align: center;
  background-color: #02011a;
  letter-spacing: var(--letter-spacing);
  color: #fff;
}

.footer--center {
  padding: 1rem;
}
.footer__links,
.social__links {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  gap: 1rem;
}
.social__link svg {
  font-size: 1.5rem;
}
